//
// Typography
//

$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif !default;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;
$root-font-size: 16px !default; // Base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

//
// Font size
// `-sm` suffix is the size at the small (and above) media query
//

$font-size-1: 9px !default;
$font-size-1-sm: 10px !default;
$font-size-2: 11px !default; //h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 12px !default; //h5
$font-size-4: 14px !default;
$font-size-5: 16px !default; //h3
$font-size-6: 18px !default; //h2
$font-size-7: 24px !default;
$font-size-8: 32px !default; //h1
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;

// Default Light Theme

$body-background-color-light: $white !default;
$sidebar-color-light: $grey-lt-000 !default;
$search-background-color-light: $white !default;
$table-background-color-light: $white !default;
$code-background-color-light: $grey-lt-000 !default;
$feedback-color-light: darken($sidebar-color-light, 3%) !default;

$body-text-color-light: $grey-dk-100 !default;
$body-heading-color-light: $grey-dk-300 !default;
$search-input-color-light: $grey-dk-000 !default;
$search-input-active-color-light: $body-text-color-light !default;
$search-result-preview-color-light: $grey-dk-000 !default;
$nav-child-link-color-light: $grey-dk-100 !default;

$link-color-light: $purple-000 !default;
$link-hover-color-light: darken($link-color-light, 2%) !default;
$link-active-color-light: darken($link-color-light, 4%) !default;

$base-button-color-light: #f7f7f7 !default;
$btn-primary-color-light: $purple-100 !default;
$btn-hover-color-light: darken($base-button-color-light, 1%) !default;
$btn-active-color-light: darken($base-button-color-light, 3%) !default;

// Default Dark Theme

$body-background-color-dark: $grey-dk-300 !default;
$sidebar-color-dark: $grey-dk-300 !default;
$search-background-color-dark: $grey-dk-250 !default;
$table-background-color-dark: $grey-dk-250 !default;
$code-background-color-dark: $grey-dk-250 !default;
$feedback-color-dark: darken($sidebar-color-dark, 3%) !default;

$body-text-color-dark: $grey-lt-300 !default;
$body-heading-color-dark: $grey-lt-000 !default;
$search-input-color-dark: $grey-dk-000 !default;
$search-input-active-color-dark: $body-text-color-dark !default;
$search-result-preview-color-dark: $grey-dk-000 !default;
$nav-child-link-color-dark: $grey-dk-000 !default;

$link-color-dark: $blue-000 !default;
$link-hover-color-dark: darken($link-color-dark, 2%) !default;
$link-active-color-dark: darken($link-color-dark, 4%) !default;

$base-button-color-dark: $grey-dk-250 !default;
$btn-primary-color-dark: $blue-200 !default;
$btn-hover-color-dark: darken($base-button-color-dark, 1%) !default;
$btn-active-color-dark: darken($base-button-color-dark, 3%) !default;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10) !default; // 4  rem == 64px

//
// Borders
//

$border: 1px solid !default;
$border-radius: 4px !default;

$border-color-light: $grey-lt-100 !default;
$border-color-dark: $grey-dk-200 !default;

//
// Grid system
//

$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 264px !default;
$nav-width-md: 248px !default;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$content-width: 800px !default;
$header-height: 60px !default;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 400ms;

//
// Media queries in pixels
//

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: 1400px,
) !default;

@mixin set_for_light_theme {
  html, html[data-theme="light"] { 
    @content;
  }
  
  @media (prefers-color-scheme: dark) {    
    html[data-theme="light"] { 
      @content;
    }
  }
}

@mixin set_for_dark_theme {
  html[data-theme="dark"] { 
    @content;
  }
  
  @media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      @content;
    }
  }
}

@mixin declare_color_vars($name, $color) {
  --#{$name}: #{$color};
  --#{$name}-rgb: #{red($color), green($color), blue($color)};
}

@include set_for_light_theme {
  @include declare_color_vars("body-background-color", $body-background-color-light);
  @include declare_color_vars("sidebar-color", $sidebar-color-light);
  @include declare_color_vars("search-background-color", $search-background-color-light);
  @include declare_color_vars("table-background-color", $table-background-color-light);
  @include declare_color_vars("code-background-color", $code-background-color-light);
  @include declare_color_vars("feedback-color", $feedback-color-light);
  @include declare_color_vars("body-text-color", $body-text-color-light);
  @include declare_color_vars("body-heading-color", $body-heading-color-light);
  @include declare_color_vars("search-input-color", $search-input-color-light);
  @include declare_color_vars("search-input-active-color", $search-input-active-color-light);
  @include declare_color_vars("search-result-preview-color", $search-result-preview-color-light);
  @include declare_color_vars("nav-child-link-color", $nav-child-link-color-light);
  @include declare_color_vars("link-color", $link-color-light);
  @include declare_color_vars("link-hover-color", $link-hover-color-light);
  @include declare_color_vars("link-active-color", $link-active-color-light);
  @include declare_color_vars("btn-primary-color", $btn-primary-color-light);
  @include declare_color_vars("btn-hover-color", $btn-hover-color-light);
  @include declare_color_vars("btn-active-color", $btn-active-color-light);
  @include declare_color_vars("base-button-color", $base-button-color-light);
  @include declare_color_vars("border-color", $border-color-light);
}

@include set_for_dark_theme {
  @include declare_color_vars("body-background-color", $body-background-color-dark);
  @include declare_color_vars("sidebar-color", $sidebar-color-dark);
  @include declare_color_vars("search-background-color", $search-background-color-dark);
  @include declare_color_vars("table-background-color", $table-background-color-dark);
  @include declare_color_vars("code-background-color", $code-background-color-dark);
  @include declare_color_vars("feedback-color", $feedback-color-dark);
  @include declare_color_vars("body-text-color", $body-text-color-dark);
  @include declare_color_vars("body-heading-color", $body-heading-color-dark);
  @include declare_color_vars("search-input-color", $search-input-color-dark);
  @include declare_color_vars("search-input-active-color", $search-input-active-color-dark);
  @include declare_color_vars("search-result-preview-color", $search-result-preview-color-dark);
  @include declare_color_vars("nav-child-link-color", $nav-child-link-color-dark);
  @include declare_color_vars("link-color", $link-color-dark);
  @include declare_color_vars("link-hover-color", $link-hover-color-dark);
  @include declare_color_vars("link-active-color", $link-active-color-dark);
  @include declare_color_vars("btn-primary-color", $btn-primary-color-dark);
  @include declare_color_vars("btn-hover-color", $btn-hover-color-dark);
  @include declare_color_vars("btn-active-color", $btn-active-color-dark);
  @include declare_color_vars("base-button-color", $base-button-color-dark);
  @include declare_color_vars("border-color", $border-color-dark);
}

$body-background-color: var(--body-background-color) !default;
$sidebar-color: var(--sidebar-color) !default;
$search-background-color: var(--search-background-color) !default;
$table-background-color: var(--table-background-color) !default;
$code-background-color: var(--code-background-color) !default;
$feedback-color: var(--feedback-color) !default;
$body-text-color: var(--body-text-color) !default;
$body-heading-color: var(--body-heading-color) !default;
$search-input-color: var(--search-input-color) !default;
$search-input-active-color: var(--search-input-active-color) !default;
$search-result-preview-color: var(--search-result-preview-color) !default;
$nav-child-link-color: var(--nav-child-link-color) !default;
$link-color: var(--link-color) !default;
$link-hover-color: var(--link-hover-color) !default;
$link-active-color: var(--link-active-color) !default;
$btn-primary-color: var(--btn-primary-color) !default;
$btn-hover-color: var(--btn-hover-color) !default;
$btn-active-color: var(--btn-active-color) !default;
$base-button-color: var(--base-button-color) !default;
$border-color: var(--border-color) !default;

@function get_rgb_value($var) {
  @if str-index(#{$var}, "var(--") {
    @return var(--#{str-slice($var, 7, -2)}-rgb);
  } @else {
    @return rgb(red($var), green($var), blue($var));
  }
}

$body-background-color-rgb: get_rgb_value($body-background-color);
$sidebar-color-rgb: get_rgb_value($sidebar-color);
$search-background-color-rgb: get_rgb_value($search-background-color);
$table-background-color-rgb: get_rgb_value($table-background-color);
$code-background-color-rgb: get_rgb_value($code-background-color);
$feedback-color-rgb: get_rgb_value($feedback-color);
$body-text-color-rgb: get_rgb_value($body-text-color);
$body-heading-color-rgb: get_rgb_value($body-heading-color);
$search-input-color-rgb: get_rgb_value($search-input-color);
$search-input-active-color-rgb: get_rgb_value($search-input-active-color);
$search-result-preview-color-rgb: get_rgb_value($search-result-preview-color);
$nav-child-link-color-rgb: get_rgb_value($nav-child-link-color);
$link-color-rgb: get_rgb_value($link-color);
$link-hover-color-rgb: get_rgb_value($link-hover-color);
$link-active-color-rgb: get_rgb_value($link-active-color);
$btn-primary-color-rgb: get_rgb_value($btn-primary-color);
$btn-hover-color-rgb: get_rgb_value($btn-hover-color);
$btn-active-color-rgb: get_rgb_value($btn-active-color);
$base-button-color-rgb: get_rgb_value($base-button-color);
$border-color-rgb: get_rgb_value($border-color);
